@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Black.woff") format("woff"), url("../fonts/Heebo-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Bold.woff") format("woff"), url("../fonts/Heebo-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Medium.woff") format("woff"), url("../fonts/Heebo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Heebo";
  font-display: swap;
  src: url("../fonts/Heebo-Regular.woff") format("woff"), url("../fonts/Heebo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  max-width: 100vw;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  font-family: Heebo;
  font-size: 16px;
  font-weight: 400;
  color: #21243D;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._container {
  max-width: 711px;
  padding: 0px 15px;
  margin: 0 auto;
}

._container-header {
  max-width: 1031px;
  padding: 0px 15px;
  margin: 0 auto;
}

._container-page {
  max-width: 887.98px;
  padding: 0px 15px;
  margin: 0 auto;
}

._title {
  font-weight: bold;
  font-size: 44px;
  line-height: 136%;
  color: #21243D;
}

._title-posts {
  font-size: 22px;
  line-height: 100%;
}

._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

._ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: fixed;
  z-index: 11;
  padding: 27px 0px;
  width: 100%;
  background-color: #fff;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__back {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__list li:not(:first-child) {
  margin-left: 33px;
}

.header__link {
  font-weight: 500;
  font-size: 20px;
  line-height: 145%;
  color: #21243D;
}

.header__link:hover {
  text-decoration: underline;
}

.header__link:active {
  color: #FF6464;
  text-decoration: none;
}

.wrapper._blog ._blog__link {
  color: #FF6464;
}

.wrapper._blog ._blog__link:hover {
  cursor: no-drop;
}

.wrapper._work ._works__link {
  color: #FF6464;
}

.wrapper._work ._works__link:hover {
  cursor: no-drop;
}

.header__burger {
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.header__burger::before,
.header__burger::after,
.header__burger span {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  background-color: #21243D;
}

.header__burger::before {
  top: 0;
}

.header__burger span {
  top: 50%;
  margin: -1px 0px 0px 0px;
}

.header__burger::after {
  bottom: 0;
}

.header__burger._active::before {
  -webkit-transform: translate(0px, 8px) rotate(45deg);
      -ms-transform: translate(0px, 8px) rotate(45deg);
          transform: translate(0px, 8px) rotate(45deg);
}

.header__burger._active span {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
}

.header__burger._active::after {
  -webkit-transform: translate(0px, -8px) rotate(-45deg);
      -ms-transform: translate(0px, -8px) rotate(-45deg);
          transform: translate(0px, -8px) rotate(-45deg);
}

.page {
  margin-top: 81px;
}

.page__john {
  padding-top: 147px;
  padding-bottom: 71px;
}

.page__john-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page__john-body {
  text-align: center;
}

.page__john-text {
  font-size: 16px;
  line-height: 23px;
  margin-top: 40px;
  margin-bottom: 38px;
}

.page__john-button {
  font-size: 20px;
  line-height: 145%;
  background-color: #FF6464;
  padding: 9px 20px 7px 20px;
  color: #FFFFFF;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.page__john-button:hover {
  -webkit-transform: translate(0, 5px);
      -ms-transform: translate(0, 5px);
          transform: translate(0, 5px);
  -webkit-box-shadow: 0px 0px 10px #FF6464;
          box-shadow: 0px 0px 10px #FF6464;
}

.page__john-photo {
  position: relative;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  height: 243px;
  width: 243px;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 34px;
}

.page__john-photo:hover {
  -webkit-transform: translate(-5px, 13px);
      -ms-transform: translate(-5px, 13px);
          transform: translate(-5px, 13px);
}

.page__john-photo:hover::after {
  top: 0px;
  left: 0px;
}

.page__john-photo::after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  top: 13px;
  left: -5px;
  width: 100%;
  height: 100%;
  background-color: #EDF7FA;
  border-radius: 50%;
  z-index: -1;
}

.page__john-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page__posts {
  background-color: #EDF7FA;
  padding: 27px 0px 32px 0px;
}

.page__posts-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 27px;
}

.page__posts-view {
  color: #00A8CC;
}

.page__posts-view:hover {
  text-decoration: underline;
}

.page__posts-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts-row__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.posts-row__item:not(:last-child) {
  margin-bottom: 20px;
}

.posts-item {
  background-color: #FFFFFF;
  padding: 23.5px;
}

.posts-item__title {
  font-size: 26px;
  line-height: 146%;
  font-weight: 700;
  margin-bottom: 16px;
}

.posts-item__info {
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vertical-line {
  height: 21px;
  width: 1.5px;
  background-color: #21243D;
}

.posts-item__data {
  padding-right: 26px;
}

.posts-item__name {
  padding-left: 26px;
}

.posts-item__text {
  line-height: 143%;
}

.page__feature {
  padding-top: 33px;
  margin-bottom: 83px;
}

.feature-works__name {
  margin-bottom: 44px;
}

.feature-works__item {
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}

.feature-works__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  padding: 21% 0px 0px 0px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.feature-works__title {
  font-size: 30px;
  font-weight: bold;
  line-height: 146%;
  margin-bottom: 16px;
}

.feature-works__info {
  margin-bottom: 37px;
}

.feature-works__type {
  margin-left: 23px;
}

.feature-works__text {
  font-size: 16px;
  line-height: 23px;
}

.page-feature-works__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
}

.page-feature-works__item {
  margin: 0px 15px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 94%;
          flex: 0 0 94%;
}

.feature-works ._works-data {
  background: #142850;
  border-radius: 16px;
  font-weight: 900;
  color: #fff;
  font-size: 18px;
  padding: 0px 10px;
}

.footer {
  padding: 53px 0px;
}

.footer__icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 16px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__icon-item {
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-bottom: 10px;
}

.footer__icon-item:not(:last-child) {
  margin-right: 35px;
}

.footer__icon-item img {
  width: 100%;
  height: 100%;
}

.footer__icon-item:hover {
  -webkit-transform: translate(0, -10px);
      -ms-transform: translate(0, -10px);
          transform: translate(0, -10px);
}

.footer__link {
  text-align: center;
  font-size: 14px;
}

.footer__link:hover {
  text-decoration: underline;
}

.page__blog {
  margin-top: 81px;
}

.blog__title {
  margin-bottom: 56px;
}

.blog__item {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #E0E0E0;
}

.blog__item-title {
  font-size: 30px;
  margin-bottom: 16px;
}

.blog__item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  margin-bottom: 15px;
}

.blog span {
  margin: 0px 23px;
}

.blog__item-name {
  color: #8695A4;
}

.blog__item-text {
  font-size: 16px;
  line-height: 23px;
}

@media (min-width: 681px) {
  .feature-works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    margin: 0px 0px 31px 0px;
  }

  .feature-works__image:hover {
    background-size: 107%;
  }

  .feature-works__body {
    padding-left: 16px;
  }

  .page-feature-works__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 768.98px) {
  .header__menu {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .header__burger {
    display: none;
  }

  .header__burger {
    display: none;
  }

  .header__burger:hover::before {
    -webkit-transform: rotate(12deg);
        -ms-transform: rotate(12deg);
            transform: rotate(12deg);
  }

  .header__burger:hover span {
    opacity: 0.4;
  }

  .header__burger:hover::after {
    -webkit-transform: rotate(-12deg);
        -ms-transform: rotate(-12deg);
            transform: rotate(-12deg);
  }

  .page__john-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 500px;
            flex: 0 1 500px;
    text-align: left;
  }

  .page__john-title {
    max-width: 440px;
  }

  .page__john-photo {
    text-align: right;
    margin: 0;
  }

  .page__posts-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 0px 0px 0px -20px;
  }

  .posts-row__item {
    margin: 0px 0px 0px 20px;
  }

  .posts-row__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media (max-width: 887.98px) {
  .page__john {
    padding-top: 180px;
  }
}

@media (max-width: 768.98px) {
  .header {
    padding: 16px 0px;
  }

  .header__body {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__menu {
    position: fixed;
    z-index: inherit;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    width: 100%;
    height: 100%;
    top: -100%;
    -webkit-transition: all 0.8s ease 0s;
    -o-transition: all 0.8s ease 0s;
    transition: all 0.8s ease 0s;
    left: 0;
  }

  .header__menu._active {
    top: 0%;
  }

  .header__menu .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-top: 60px;
  }

  .header__menu .header__list li {
    margin: 0;
  }

  .header__menu .header__list .header__link {
    font-size: 37px;
    line-height: 160%;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }

  .page__john-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 711px) {
  ._title {
    font-size: calc(32px + 12 * ((100vw - 375px) / 336));
  }

  .page {
    margin-top: calc(50px + 31 * ((100vw - 375px) / 336));
  }

  .page__john {
    padding-bottom: calc(51px + 20 * ((100vw - 375px) / 336));
  }

  .page__john-text {
    margin-top: calc(21px + 19 * ((100vw - 375px) / 336));
  }

  .page__john-text {
    margin-bottom: calc(27px + 11 * ((100vw - 375px) / 336));
  }

  .page__john-photo {
    height: calc(184px + 59 * ((100vw - 375px) / 336));
  }

  .page__john-photo {
    width: calc(184px + 59 * ((100vw - 375px) / 336));
  }

  .page__feature {
    padding-top: calc(20px + 13 * ((100vw - 375px) / 336));
  }

  .page__feature {
    margin-bottom: calc(40px + 43 * ((100vw - 375px) / 336));
  }

  .feature-works__name {
    margin-bottom: calc(26px + 18 * ((100vw - 375px) / 336));
  }

  .feature-works__title {
    font-size: calc(24px + 6 * ((100vw - 375px) / 336));
  }

  .feature-works__info {
    margin-bottom: calc(24px + 13 * ((100vw - 375px) / 336));
  }

  .page__blog {
    margin-top: calc(24px + 57 * ((100vw - 375px) / 336));
  }

  .blog__title {
    margin-bottom: calc(18px + 38 * ((100vw - 375px) / 336));
  }

  .blog__item {
    margin-bottom: calc(16px + 9 * ((100vw - 375px) / 336));
  }

  .blog__item-title {
    font-size: calc(26px + 4 * ((100vw - 375px) / 336));
  }
}

@media (max-width: 681px) {
  .header__back {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 27px;
            flex: 0 0 27px;
  }

  .page__posts {
    padding: 21px 0px 38px 0px;
  }

  .page__posts-info {
    margin-bottom: 21px;
  }

  .feature-works__image {
    margin-bottom: 17px;
    padding: 69% 0px 0px 0px;
  }

  .footer {
    padding: 35px 0px;
  }

  .blog span {
    margin: 0px 15px;
  }
}

@media (max-width: 550px) {
  .page__john {
    padding-top: 83px;
  }

  .page__posts-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .page__posts-info .page__posts-view {
    display: none;
  }

  .posts-item__data {
    padding-right: 20px;
  }

  .posts-item__name {
    padding-left: 20px;
  }

  .footer {
    padding: 25px 0px;
  }

  .blog__item-info {
    font-size: 16px;
  }
}